*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form{
    width: 51%;
    margin: auto;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 33px;
    /* background: ; */
}
input{
    width: 200px;
    margin: 5px;
    font-size: 18px;
}
h1{
    text-align: center;
    margin: 10px;
}
label{
    display: inline-block;
    width: 100px;
}
.but{
    width: 200px;
    margin: 10px 100px;
    padding: 5px 10px;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

input[type="radio"],input[type="checkbox"]{
    width: auto;
}
h1{
    text-align: center;
    color: purple;
}
select{
    margin: 10px;
}

.btn{
    margin: 5px;
    padding: 5px 33px;
    font-size: 18px;
    border: 2px solid blue;
    border-radius: 8px;
    background: transparent;
    color: blue;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background-color: blue;
    color: white;
}
.formerror {
    color: red;
}